
.lessons-image {
    border: 1px solid #c0c0c0;
    padding: 3px;
    width: 250px;
}

ul.secondary-lessons {
    padding-bottom: 10px !important;
}

.lessons-title {
    color: #CE2029;
    margin: 40px 40px 0px 40px;
}

.lessons-title small {
    margin-left: 10px;
}

.lessons-subtitle {
    margin: 10px 40px 40px 40px;
}

ul.root-lessons li {
    font-size: 20px;
    color: #CE2029;
    font-weight: 600;
    padding-bottom: 5px;
}

ul.secondary-lessons li {
    font-size: 16px;
    color: #444444;
    font-weight: 400;
    padding-bottom: 5px;
}

.lessons-row {
    margin-bottom: 20px;
}

.chris-test {
    padding-top:20px;
    padding-bottom:20px;
}

.chris-test .container {
    border:solid 1px #c5c5c5;
    background:#ffffff;
}

.video-wrapper {
    display: flex !important;
    justify-content: center;
}

.last-video-row {
    padding-bottom: 20px !important;
}